*{
	background-color: #e6ccb3;
}
.container{
	position:relative;
}

#octopus{
	margin: 0 auto;
	display:block;
	
	top:180px;
	bottom:0px;
	left:50%;
	right:0px;
	position:absolute;
	
	z-index:0;
}
#glasses{
	position: absolute;
	left: 50%;
	margin-left: 40px;
	top:270px;
	z-index:2;
}
#hat{
	position:absolute;
	left: 50%;
	z-index:1;
}